/* Write your CSS here */
.dark {
  background-color: #000000;
}
.light {
  background-color: #ffffff;
}
.bg {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
}
.heading1 {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 30px;
  font-size: bold;
}
.heading2 {
  font-family: 'Roboto';
  color: #000000;
  font-size: 30px;
  font-size: bold;
}
.image {
  height: 150px;
  width: 150px;
}
